@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
.nexton {
  font-family: "NEXON Lv1 Gothic OTF";
  font-weight: normal;
}

body {
  background-color: #efedd6;
  font-family: "Single Day", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  margin: 10px;
  font-weight: 700;
}

.box {
  background-color: steelblue;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform 0.5s ease;
}
.box:nth-of-type(even) {
  transform: translateX(-400%);
  background-color: palevioletred;
}

.box.show {
  transform: translateX(0);
}

.box h2 {
  font-size: 45px;
  font-weight: 300;
}
